
.chaos__content{
    margin-top: 142px;
    margin-right: 170px;
   
    
    

}
.chaos__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400px;
    font-size: 32px;
    text-align: center;
    color: #212B31;
    margin-left: 300px;
    
    
   
  
    
    
}
.chaos__description{
font-family: 'Inter';
font-style: normal;
font-weight: 400px;
font-size: 20px;
text-align: center;
color: #72787D;
margin-top: 16px;
margin-left: 213px;
}
.chaos__img{
    margin-top: 40px;

}




