.featere__box {
    text-align: center;
    width: 325px;
    margin-right: 50px;
    
  
}

.feature__title {
 font-family: 'Inter';
font-style:"normal" ;
font-weight: 400px;
font-size: 18px;
line-height: 24px;
text-align: center;
color: black ;

}

.feature__descrition {
    Font-family: 'Inter';
    Font-style: 'Regular';
    Font-size: 16px;
    margin-top: 10ps;
    color: #72787d;
}

.feature__content {
    display: flex;
    justify-content: center;
    margin: 0 20;
    margin-top: 148px;
    margin-right: 20px;
}